 <div class="card">
    <div class="card-header">
        The Basics
    </div>
    <div class="card-body">
        <p>Hello, today is @DateTime.Today.Date.ToString("MM/dd/yyyy").</p>
        
    </div>
</div> 